<p>padre works!</p>

<input type="text" placeholder="Escribe algo para mi hijo" [value]="mensajeHijoEnviadoDesdeElPadre"
    (input)="enviar($event.target.value)"><br />

<h1>YO SOY TU PADRE</h1>
<h2>y mi mensaje hoy es el siguiente: {{mensajeHijoEnviadoDesdeElPadre}}</h2>

<!--Aqui esta la conexion con el mensaje hijo-->
<app-hijo [mensajeHijoRecibidoDelPadre]="mensajeHijoEnviadoDesdeElPadre" (mensajeAlPadreDesdeElHijoEventEmmiter)="recibirMensajeDelHijo($event)"></app-hijo>

<h4>Mensaje del hijo recibido del padre: {{mensajerecibidoDelHijo}}</h4>